 body{
    padding:0;
    margin:0;
    /* background-color: rgb(255, 251, 246); */
    background-color:white;
 }
 a{
     color:hsl(0,0%,20%);
     text-decoration: none;
 }
 a:hover{
     color:hsl(0,0%,50%);
 }
.intro{
    top:0;
}
.content {
    padding: 16px;
  }
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
.sticky + .content {
    padding-top: 800px;
  }
 #intro-text{
    position:absolute;
    color:hsl(0,0%,20%);
    font-size:60px;
    letter-spacing: 10px;
    font-family: 'DM Serif Text', serif;
    line-height:1.25;
    top:40;
    left:80;
    z-index:+2;
    display:flex;
  }
  #scroll-text{
    position:relative;
    color:hsl(0,0%,20%);
    font-size:22px;
    letter-spacing: 9px;
    font-family: 'Montserrat', sans-serif;
    top: -50;
    text-align:center;
  }
#mainBkg{
    position:relative;
    top:0;
    padding:0;
    margin:0;
}
#navbar{
    color:hsl(0,0%,20%);
    font-size:14px;
    letter-spacing: 8px;
    font-family: 'Montserrat', sans-serif;
    top: 40;
    text-align:center;
    z-index:+3;
}
#about-left{
    position:relative;
    float:left;
    top:200px;
    left: 300px;
    width:50%;
    height:480px;
}
#about-right{
    position:relative;
    float:right;
    color:hsl(0,0%,18%);
    font-size:15px;
    letter-spacing: 4px;
    line-height: 28px;
    font-family: 'Montserrat', sans-serif;
    top:300px;
    right: 200px;
    width:30%;
    height:480px;
}
#about-text{
    position:relative;
    color:hsl(0,0%,20%);
    font-size:55px;
    letter-spacing: 10px;
    top:-280px;
    left:200px;
    font-family: 'DM Serif Text', serif;
}
#pink-rect{
    background-color:hsl(12,34.1%,82.2%);
    display:flex;
    top:500px;
    left: 600px;
    width:250px;
    height:460px;
    float:left;
    /* background-image:linear-gradient(to bottom left,hsl(12,34.1,82.2), hsl(12,34.1,82.2));  */
}
#prof-pic{
    position: relative;
    left:-450px;
    top:10px;
}
#content{
    font-size:40px;
}
#portfolio-header{
    position: relative;
    left: 280px;
    top:400px;
    font-size:55px;
    letter-spacing: 10px;
    font-family: 'DM Serif Text', serif;
    color:hsl(350,100%,35.9%);
    display: inline;
}
#portfolio-secondary-header{
    position: relative;
    left: 280px;
    top:400px;
    color:hsl(350,100%,35.9%);
    font-size:20px;
    letter-spacing: 5px;
    line-height: 28px;
    font-family: 'Montserrat', sans-serif;
    display: inline;
}
#faces-left{
    position: relative;
    float:left;
    left:280px;
    top:450px;
}
#faces-left:hover{
    opacity:.75;
}
#concepts-right{
    position: relative;
    float:right;
    right:280px;
    top:450px;
}
#concepts-right:hover{
    opacity:.75;
}
#contacts{
    position: relative;
    top:150%;
}
#green-blob{
    position:relative;
    left:-400;
}

#contacts-header{
    position: relative;
    color:hsl(0,0%,20%);
    font-size:55px;
    letter-spacing: 10px;
    font-family: 'DM Serif Text', serif;
    left:100;
}
#contacts-text{
    position: relative;
    color:hsl(0,0%,20%);
    top: 40;
    left:100;
    width:60%;
    color:hsl(0,0%,18%);
    font-size:15px;
    letter-spacing: 4px;
    line-height: 28px;
    font-family: 'Montserrat', sans-serif;
}
#pink-blob{
    position:relative;
    right:-800;
}

/* faces page */
.faces-description{
    color:hsl(0,0%,18%);
    font-size:15px;
    letter-spacing: 4px;
    line-height: 28px;
    font-family: 'Montserrat', sans-serif;
}
.publication{
    color:hsl(350,100%,35.9%);
    left:28%;
    font-size:15px;
    letter-spacing: 4px;
    font-family: 'Montserrat', sans-serif;  
}
#faces-page-wip{
    position:relative;
    top:200px;
    text-align:center;
    color:hsl(0,0%,18%);
    font-size:15px;
    letter-spacing: 4px;
    line-height: 28px;
    font-family: 'Montserrat', sans-serif;
}
#faces-page-header{
    position: relative;
    left: 100px;
    top:50px;
    font-size:65px;
    letter-spacing: 10px;
    font-family: 'DM Serif Text', serif;
    color:hsl(350,100%,35.9%);
    /* display: inline; */
}
#faces-page-secondary{
    position: relative;
    left: 100px;
    top:150px;
    font-size:55px;
    letter-spacing: 10px;
    font-family: 'DM Serif Text', serif;
    color:hsl(0,0%,20%);
}
#entry-1{
    position:relative;
    top:360px;
    left:20%
}
#entry-2{
    position:relative;
    top:360px;
    left:25%
}
#entry-3{
    position:relative;
    top:360px;
    left:20%
}
#saran{
    position:relative;
    top:-170;
}
#saran-text{
    position:relative;
    color:hsl(0,0%,18%);
    left:28%;
    font-size:15px;
    letter-spacing: 4px;
    font-family: 'Montserrat', sans-serif;
}
#touch-text{
    position:relative;
    color:hsl(0,0%,18%);
    left:-50;
    font-size:15px;
    letter-spacing: 4px;
    font-family: 'Montserrat', sans-serif;
    top:470px;
}
#touch{
    position:relative;
    top:-150;
}
#pomegranates-text{
    position:relative;
    top:200;
    left: 400;
}
#pomegranate{
    position:relative;
    top:-150;
}