    <!DOCTYPE html>
    <html>
    <head>
        <title>Take your plants on a walk !</title>
        <link rel="stylesheet" href="../../static/css/projects/css-triptych.css"> 
    </head>
    <body>
        <h1>Take your plants on a walk !</h1>
        <div class="main-container">
        <div class="left-box">
            <div class="person">
            <div class="head">
                <div class="hair">
                <div class="strand-1"></div>
                <div class="strand-2"></div>
                <div class="strand-3"></div>
                </div>
                <div class="eyes">
                <div class="eye-left"></div>
                <div class="eye-right"></div>
                </div>
                <div class="glasses"></div>
                <div class="mouth"></div>
            </div>
            <div class="body">
                <div class="arm-left">
                <div class="sleeve"></div>
                <div class="hand"></div>
                </div>
                <div class="arm-right">
                <div class="sleeve-2"></div>
                <div class="hand"></div>
                </div>
            </div>
            <div class="legs">
                <div class="left-leg"></div>
                <div class="right-leg"></div>
                <div class="shoes">
                <div class="shoe-right"></div>
                <div class="shoe-left"></div>
                </div>
            </div>
            </div>
            <div class="leash">
            </div>
            <div class="plant">
            <div class="plant-pot">
                <div class="eyes">
                <div class="eye-left"></div>
                <div class="eye-right"></div>
                </div>
                <div class="mouth"></div>
            </div>
            <div class="cactus">
                <div class="spikes">
                <div class="strand-1"></div>
                <div class="strand-2"></div>
                <div class="strand-3"></div>
                </div>
            </div>
            <div class="wheels">
                <div class="wheel">
                <div class="wheel-axel"></div>
                </div>
                <div class="wheel">
                <div class="wheel-axel"></div>
                </div>
            </div>
            </div>
        </div>
        <div class="middle-box"></div>
        <div class="right-box"></div>
        </div>
    </body>
    </html>
