    <!-- /exercises/09-comic.html -->
    <!DOCTYPE html>
    <html>
    <head>
        <title>Take your plants on a walk !</title>
        <link rel="stylesheet" href="../../static/css/projects/css-triptych.css"> 
    </head>
    <body>
        <h1>Take your plants on a walk !</h1>
        <div class="main-container">
        <div class="left-box">
            <div class="person">
            <div class="head head-1 body-color-1">
                <div class="hair-1">
                <div class="bun-left"></div>
                <div class="bun-right"></div>
                <div class="bangs-right">
                    <div class="bang-strand-1"></div>
                    <div class="bang-strand-2"></div>
                </div>
                <div class="bangs-left">
                    <div class="bang-strand-3"></div>
                    <div class="bang-strand-4"></div>
                </div>
                </div>
                <div class="eyes">
                <div class="eye-left eye-left-1"></div>
                <div class="eye-right eye-right-1"></div>
                </div>
                <div class="mouth"></div>
            </div>
            <div class="body body-1 body-decoration-1">
                <div class="collar"></div>
                <div class="body-decoration-bottom"></div>
                <div class="body-decoration-middle"></div>
                <div class="arm-left">
                <div class="sleeve"></div>
                <div class="hand body-color-1"></div>
                </div>
                <div class="arm-right-1">
                <div class="sleeve-2 body-decoration-1"></div>
                <div class="hand body-color-1"></div>
                </div>
            </div>
            <div class="legs">
                <div class="left-leg left-leg-decoration-1"></div>
                <div class="right-leg right-leg-decoration-1"></div>
                <div class="shoes">
                <div class="shoe-right"></div>
                <div class="shoe-left"></div>
                </div>
            </div>
            </div>
            <div class="leash">
            </div>
            <div class="plant plant-1">
            <div class="plant-pot plant-pot-1">
                <div class="eyes">
                <div class="eye-left"></div>
                <div class="eye-right"></div>
                </div>
                <div class="mouth"></div>
            </div>
            <div class="flower-container">
                <div class="stem"></div>
                <div class="flower">
                <div class="petals-top">
                    <div class="petal-1"></div>
                    <div class="petal-2"></div>
                </div>
                <div class="petals-bottom">
                    <div class="petal-3"></div>
                    <div class="petal-4"></div>
                </div>
                <div class="flower-center"></div>
                </div>
                <div class="leaves">
                <div class="leaf-1"></div>
                <div class="leaf-2"></div>
                </div>
            </div>
            <div class="wheels">
                <div class="wheel">
                <div class="wheel-axel"></div>
                </div>
                <div class="wheel">
                <div class="wheel-axel"></div>
                </div>
            </div>
            </div>
        </div>



        <!-- Middle box -->
        <div class="middle-box">
            <div class="person">
            <div class="head body-color-2">
                <div class="hair-2">
                <div class="strand-1"></div>
                <div class="strand-2"></div>
                <div class="strand-3"></div>
                </div>
                <div class="eyes">
                <div class="eye-left"></div>
                <div class="eye-right"></div>
                </div>
                <div class="glasses"></div>
                <div class="mouth"></div>
            </div>
            <div class=" body body-2 body-decoration-2">
                <div class="arm-left">
                <div class="sleeve"></div>
                <div class="hand body-color-2"></div>
                </div>
                <div class="arm-right">
                <div class="sleeve-2 body-decoration-2"></div>
                <div class="hand body-color-2"></div>
                </div>
                <div class="buttons">
                <div class="button"></div>
                <div class="button"></div>
                <div class="button"></div>
                </div>
            </div>
            <div class="legs">
                <div class="left-leg left-leg-decoration-2"></div>
                <div class="right-leg right-leg-decoration-2"></div>
                <div class="shoes">
                <div class="shoe-right"></div>
                <div class="shoe-left"></div>
                </div>
            </div>
            </div>
            <div class="leash">
            </div>
            <div class="plant plant-2">
            <div class="plant-pot plant-pot-2">
                <div class="eyes">
                <div class="eye-left"></div>
                <div class="eye-right"></div>
                </div>
                <div class="mouth"></div>
            </div>
            <div class="cactus">
                <div class="spikes">
                <div class="strand-1"></div>
                <div class="strand-2"></div>
                <div class="strand-3"></div>
                </div>
            </div>
            <div class="wheels">
                <div class="wheel">
                <div class="wheel-axel"></div>
                </div>
                <div class="wheel">
                <div class="wheel-axel"></div>
                </div>
            </div>
            </div>
        </div>


    <!-- Right box -->
    <div class="right-box">
    <div class="person">
        <div class="head head-3 body-color-3">
        <div class="hair-3">
            <div class="ponytail"></div>
            <div class="strands-set">
            <div class="strand-1-left strand"></div>
            <div class="strand-2-left strand"></div>
            <div class="strand-1-right strand"></div>
            <div class="strand-2-right strand"></div>
            <div class="strand-1-top strand"></div>
            </div>
            <div class="hairtie"></div>
            <div class="hair-3-bang"></div>
        </div>
        <div class="eyes">
            <div class="eye-left eye-left-3"></div>
            <div class="eye-right eye-right-3"></div>
        </div>
        <div class="mouth"></div>
        </div>
        <div class="background-hair-3"></div>
        <div class="body body-3 body-decoration-3">
        <div class="arm-left">
            <div class="sleeve"></div>
            <div class="hand body-color-3"></div>
        </div>
        <div class="arm-right-3">
            <div class="sleeve-2 body-decoration-3"></div>
            <div class="hand body-color-3"></div>
        </div>
        </div>
        <div class="legs legs-3">
        <div class="left-leg left-leg-decoration-3"></div>
        <div class="right-leg right-leg-decoration-3"></div>
        <div class="shoes">
            <div class="shoe-right"></div>
            <div class="shoe-left"></div>
        </div>
        </div>
    </div>
    <div class="leash leash-3">
    </div>
    <div class="plant plant-3">
        <div class="strands-set-plant">
        <div class="strand-1-left strand-plant"></div>
        <div class="strand-2-left strand-plant"></div>
        <div class="strand-1-right strand-plant"></div>
        <div class="strand-2-right strand-plant"></div>
        <div class="strand-1-top strand-plant"></div>
        </div>
        <div class="plant-pot plant-pot-3">
        <div class="eyes">
            <div class="eye-left"></div>
            <div class="eye-right"></div>
        </div>
        <div class="mouth"></div>
        </div>
        <div class="flower-container">
        </div>
        <div class="trunk"></div>
        <div class="wheels">
        <div class="wheel">
            <div class="wheel-axel"></div>
        </div>
        <div class="wheel">
            <div class="wheel-axel"></div>
        </div>
        </div>
    </div>
    </div>


    <!-- black and white outline -->
    <!-- <div class="right-box">
    <div class="person">
        <div class="head head-3 body-color-3">
        <div class="hair-3">
        </div>
        <div class="eyes">
            <div class="eye-left eye-left-3"></div>
            <div class="eye-right eye-right-3"></div>
        </div>
        <div class="mouth"></div>
        </div>
        <div class="body body-3 body-decoration-3">
        <div class="arm-left">
            <div class="sleeve"></div>
            <div class="hand body-color-3"></div>
        </div>
        <div class="arm-right-1">
            <div class="sleeve-2 body-decoration-3"></div>
            <div class="hand body-color-3"></div>
        </div>
        </div>
        <div class="legs">
        <div class="left-leg left-leg-decoration-3"></div>
        <div class="right-leg right-leg-decoration-3"></div>
        <div class="shoes">
            <div class="shoe-right"></div>
            <div class="shoe-left"></div>
        </div>
        </div>
    </div>
    <div class="leash">
    </div>
    <div class="plant plant-3">
        <div class="plant-pot plant-pot-3">
        <div class="eyes">
            <div class="eye-left"></div>
            <div class="eye-right"></div>
        </div>
        <div class="mouth"></div>
        </div>
        <div class="flower-container">
        <div class="stem"></div>
        <div class="flower">
            <div class="petals-top">
            <div class="petal-3"></div>
            <div class="petal-2"></div>
            </div>
            <div class="petals-bottom">
            <div class="petal-3"></div>
            <div class="petal-4"></div>
            </div>
            <div class="flower-center"></div>
        </div>
        <div class="leaves">
            <div class="leaf-3"></div>
            <div class="leaf-2"></div>
        </div>
        </div>
        <div class="wheels">
        <div class="wheel">
            <div class="wheel-axel"></div>
        </div>
        <div class="wheel">
            <div class="wheel-axel"></div>
        </div>
        </div>
    </div>
    </div> -->