<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/general/style.css"> 
    <link rel="stylesheet" href="/static/css/general/entries.css"> 
    <title>Entry 1</title>
</head>
<body>
    <div class="main-container">
    <!-- title and subheading -->
    <div class="blog-header">
        <h1>Entry # ~ Entry Title: blah blah</h1>
        <h3>subheading text goes here </h3>
        <div class="line"></div>
        <div class="big-space"></div>
        <!-- Main Image/link to project -->
        <div class="center-item">
            <a href="/templates/projects/css-triptych.html"><img src="/static/imgs/entry-1-imgs/project-preview.png" class = "proj-main-img" alt=""></a>
        </div>
    </div>
    <div class="line"></div>
    <div class="blog-container">
        <!-- Overview and Summary -->
        <div class="blog-overview">
            <h2 class = "center">O V E R V I E W</h2>
            <div class="blog-overview-container">
                <div class="blog-overview-left columns-2">
                    <div class="blog-overview-left-left col-left">
                        <h4>TYPE OF PROJECT</h4>
                        <p>edit here</p>
                        <div class="line"></div>
                        <h4>PROJECT DATE</h4>
                        <p>edit here</p>
                        <div class="line"></div>
                        <h4>TOOLS + SOFTWARE</h4>
                        <p>edit here</p>
                    </div>
                    <div class="blog-overview-left-right col-right">
                        <h4>DURATION</h4>
                        <p>edit here</p>
                        <div class="line"></div>
                        <h4>ICONS</h4>
                        <p>edit here</p>
                    </div>
                </div>
                <div class="blog-overview-right">
                    <p>
                        <!-- Edit this -->
                        words to describe project go here words to describe project go here words to describe project go here 
                        words to describe project go here words to describe project go here words to describe project go here
                        words to describe project go here words to describe project go here words to describe project go here
                        words to describe project go here words to describe project go here words to describe project go here
                    </p>
                </div>
            </div>
        </div>
        <div class="line"></div>


        <!-- Process -->
        <div class="blog-process">
            <h2 class = "center">P R O C E S S</h2>
        </div>
        <div class="line"></div>


        <!-- Challenges Future Developments -->
        <div class="blog-process">
            <h2 class = "center">C H A L L E N G E S</h2>
        </div>
        <div class="line"></div>
    </div>
    </div>


    <div class="blog-footer"></div>
</body>
</html>