.background-main{
    background-color:black;
    height:700px;
    width:100%;
    display:flex;
}
.text-left-body{
    flex: 2;
    padding:20px;
    margin: 20px;
    background-color:purple;
    height: 200px;
    width: 100%;
}
.blank-right-body{
    flex: 3;
    background-color: green;
    height:200px;
    width:100%;
}